<footer>
  <div class="content-padding">
    <div class="footer=content">
      <p>
        Copyright &copy: Jason Ping
      </p>
      <div class="social-media0icons">
        <a href="#"><i class="fa fa-empire"></i></a>
        <a href="#"><i class="fa fa-rebel"></i></a>
      </div>
    </div>
  </div>
</footer>
